
<!-- This isn't complete and we need to add data typing for the sorting-->

<div class="recipe" data-cooktime="{{time}}" data-rating="{{rating}}" data-title="{{lowerCaseTitle}}">
  <div class="recipeTitle">
    <a class="recipe-title" data-name="{{title}}">{{title}}</a>
  </div>
  <div class="recipe-contents">
    <div class="recipe-info-container">
      <span class="recipe-cooktime">Cook Time: {{time}} minutes</span> <span class="recipe-rating">Rating: {{rating}}</span>
    </div>
    <div class="recipe-ingredients">
      <ul style="list-style-type:square;">
        <!--Ingredients is an array of objects containing items and amounts-->
        {{#each ingredients}}
          {{> ingredient}}
        {{/each}}
      </ul>
    </div>
    <div class="recipe-instructions">
      <ol>
        <!-- Instructions is an array of strings-->
        {{#each instructions}}
          {{> instruction}}
        {{/each}}
      </ol>
    </div>
  </div>
  <div class="images">
    <div class="recipe-image-container">
      <img src="{{imageLink}}" alt="{{title}}" height="200">
    </div>
    <div class="recipe-image-container">
      <img src="{{imageLink}}" alt="{{title}}" height="200">
    </div>
    <div class="recipe-image-container">
      <img src="{{imageLink}}" alt="{{title}}" height="200">
    </div>
  </div>
</div>
